.contact-section  {

        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../Images/space-727.jpg");
        background-position: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 50px;
        border-top: 2px solid white;
        
}

body .form-control {
    
    color: white;
    padding-bottom: 10px;

}

.contact-image {
    border: 1px solid red;
    position: relative;
    box-shadow: rgba(10px, 13px, 15px, 0.5);
}

.contact-img {
    border-radius: 50%;
    border: 1px solid red;
    box-shadow: rgba(10px, 13px, 15px, 0.6);
}

.Heading {
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    font-style: italic;
    font-size: xx-large;
    color: white;

}

.txt {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
    background: transparent;

}

.lbl {
    font-style: italic;
    font-family: 'Cambria, Cochin', Georgia, Times, 'Times New Roman', serif;
}

textarea {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 2px solid black;
    margin-top: 10px;
    background: transparent;

}

.submit-btn {
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    width: 100px;
    background-color: black;
    color: aliceblue;
    box-shadow: inset;
}